DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=receptify
DB_PASSWORD=your_password_here

JWT_SECRET=change_me_in_production_use_rails_credentials_for_prod

ALLOWED_ORIGINS=http://localhost:3000,https://app.receptify.us
